## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [9]:
import numpy as np
import pandas as pd

# Set the random seed for reproductivity
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [10]:
n_class_0, n_class_1

(900, 100)

In [12]:
# Create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [13]:
df=pd.concat([class_0, class_1]).reset_index(drop=True)

In [14]:
df.tail()

     feature_1  feature_2  target
995   2.792809   1.103282       1
996  -0.030271   2.812571       1
997   0.119782   2.637361       1
998   0.530530   2.332712       1
999   1.407392   2.258237       1

In [15]:
df.head()

   feature_1  feature_2  target
0   0.551302  -0.300232       0
1   0.419589  -0.632261       0
2   1.815652  -0.204317       0
3  -0.252750   0.213696       0
4  -0.292004   1.033878       0

In [16]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [17]:
# UpSampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [19]:
from sklearn.utils import resample

df_minority_upsampled=resample(df_minority, replace=True, 
                               n_samples=len(df_majority), 
                               random_state=42)

In [20]:
df_minority_upsampled.shape

(900, 3)

In [26]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.831202   2.185775       1
992   1.495097   2.046499       1
914   2.600053   1.232972       1
971   3.066104   0.802326       1
960   1.182489  -0.039363       1

In [23]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [24]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sampling

In [28]:
import pandas as pd

# Set the random seed for reproductibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

#Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [29]:
# dowm sampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [30]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority, replace=False,
                                   n_samples=len(df_minority),
                                   random_state=42)

In [31]:
df_majority_downsampled.shape

(100, 3)

In [32]:
df_majority_downsampled.head()

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0

In [33]:
df_majority_downsampled.tail()

     feature_1  feature_2  target
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

In [34]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [35]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64