# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  52  42  45   9
1  83  16   6  59
2  41   7   6  69
3  70  97  42  32
4  50  47  56  22
5  90  14  85  22
DataFrame with new index:
     B   C   D
A
52  42  45   9
83  16   6  59
41   7   6  69
70  97  42  32
50  47  56  22
90  14  85  22

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  97  97  39
Y  74  25   8
Z  68  38  32
Element at row 'Y' and column 'B': 25

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [3]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  66  14  24
1  36   5  91
2  16  94  19
3  66  11  52
4  13  10  74
DataFrame with new column:
    A   B   C     D
0  66  14  24   924
1  36   5  91   180
2  16  94  19  1504
3  66  11  52   726
4  13  10  74   130

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [11]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum()

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  42  67  11
1  90  56  91
2  55  15  20
3  83  15  88
Row-wise sum:
0    120
1    237
2     90
3    186
dtype: int64
Column-wise sum:
A    270
B    153
C    210
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [15]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(),inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  89  34  62
1  25  30  68
2  54  62  39
3  92  39  54
4  52  57  84
DataFrame with NaN values:
      A     B     C
0  89.0   NaN  62.0
1  25.0  30.0  68.0
2  54.0  62.0   NaN
3  92.0  39.0  54.0
4   NaN  57.0  84.0
DataFrame with NaN values filled:
      A     B     C
0  89.0  47.0  62.0
1  25.0  30.0  68.0
2  54.0  62.0  67.0
3  92.0  39.0  54.0
4  65.0  57.0  84.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [16]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  37  87  78  59
1  57  42  14  94
2  38   6  46  93
3  29  85  19  22
4  13  72  95  55
5   7  23  80  89
DataFrame with NaN values:
      A     B     C   D
0  37.0  87.0  78.0  59
1  57.0  42.0   NaN  94
2  38.0   6.0  46.0  93
3   NaN  85.0  19.0  22
4  13.0  72.0  95.0  55
5   7.0   NaN  80.0  89
DataFrame with NaN values dropped:
      A     B     C   D
0  37.0  87.0  78.0  59
2  38.0   6.0  46.0  93
4  13.0  72.0  95.0  55

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [17]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A     97
1        C     56
2        A      8
3        B     23
4        A     29
5        C     95
6        A      6
7        C     25
8        B     38
9        B      3
Grouped DataFrame:
          sum       mean
Category
A         140  35.000000
B          64  21.333333
C         176  58.666667

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [18]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod1        A     96
1   Prod3        C     44
2   Prod1        C     80
3   Prod1        B     68
4   Prod2        A     29
5   Prod1        C     38
6   Prod1        B     63
7   Prod1        B     35
8   Prod3        B     47
9   Prod2        B     57
Grouped DataFrame:
Category
A    125
B    270
C    162
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [19]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A       2
1   B      95
2   C      92
3   D      41
DataFrame 2:
  Key  Value2
0   A       5
1   B      69
2   C      35
3   E      26
Merged DataFrame:
  Key  Value1  Value2
0   A       2       5
1   B      95      69
2   C      92      35

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [20]:
# Create two Pandas DataFrames with different columns
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  78  81
1  21   4
2  25   7
DataFrame 2:
    C   D
0  11  21
1  45  94
2  79  72
Concatenated DataFrame (rows):
      A     B     C     D
0  78.0  81.0   NaN   NaN
1  21.0   4.0   NaN   NaN
2  25.0   7.0   NaN   NaN
0   NaN   NaN  11.0  21.0
1   NaN   NaN  45.0  94.0
2   NaN   NaN  79.0  72.0
Concatenated DataFrame (columns):
    A   B   C   D
0  78  81  11  21
1  21   4  45  94
2  25   7  79  72

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [21]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    14
2022-01-02     0
2022-01-03    62
2022-01-04    57
2022-01-05    50
...          ...
2022-12-27    71
2022-12-28    98
2022-12-29    30
2022-12-30    15
2022-12-31    57

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  48.483871
2022-02-28  47.250000
2022-03-31  54.032258
2022-04-30  44.366667
2022-05-31  52.419355
2022-06-30  49.900000
2022-07-31  49.741935
2022-08-31  52.806452
2022-09-30  53.833333
2022-10-31  48.838710
2022-11-30  51.033333
2022-12-31  55.612903

C:\Users\saksh\AppData\Local\Temp\ipykernel_19692\994453891.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [22]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    45
2021-01-02    99
2021-01-03    52
2021-01-04    67
2021-01-05    44
...          ...
2021-12-27    12
2021-12-28    56
2021-12-29    44
2021-12-30    80
2021-12-31    15

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  40.571429
2021-12-28  38.571429
2021-12-29  44.000000
2021-12-30  49.571429
2021-12-31  51.285714

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [23]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              12      97       2
         two              29      87      33
B        one              59      75      35
         two              96      28      67
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              12      97       2
two              29      87      33
Slicing at Category 'B' and SubCategory 'two':
Value1    96
Value2    28
Value3    67
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [26]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              50      63      87
         two              84      21      39
B        one              71      69       5
         two              13      55       1
C        one              50      31      88
         two              48      13      28
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              50      63      87
         two              84      21      39
B        one              71      69       5
         two              13      55       1
C        one              50      31      88
         two              48      13      28

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [27]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-06        C     98
1  2022-01-06        B     42
2  2022-01-10        A     18
3  2022-01-03        B     44
4  2022-01-08        A     26
5  2022-01-08        B     16
6  2022-01-03        B     12
7  2022-01-04        A     99
8  2022-01-05        C     12
9  2022-01-02        C     95
10 2022-01-04        C     31
11 2022-01-02        B      7
12 2022-01-09        A     43
13 2022-01-03        B     74
14 2022-01-04        A     56
15 2022-01-09        A     23
16 2022-01-04        A     51
17 2022-01-03        C     47
18 2022-01-02        A     22
19 2022-01-10        A     77
Pivot Table:
Category        A      B     C
Date
2022-01-02   22.0    7.0  95.0
2022-01-03    NaN  130.0  47.0
2022-01-04  206.0    NaN  31.0
2022-01-05    NaN    NaN  12.0
2022-01-06    NaN   42.0  98.0
2022-01-08   26.0   16.0   NaN
2022-01-09   66.0    NaN   NaN
2022-01-10   95.0    NaN   NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [28]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q3      566
1   2020      Q4      438
2   2021      Q3      948
3   2022      Q4      991
4   2020      Q3      933
5   2020      Q4      519
6   2020      Q2      534
7   2020      Q2      500
8   2021      Q2      963
9   2020      Q3      679
10  2021      Q2      160
11  2021      Q4      561
Pivot Table:
Quarter     Q2     Q3     Q4
Year
2020     517.0  806.0  478.5
2021     561.5  757.0  561.0
2022       NaN    NaN  991.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [29]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  46  15  33
1   7  58  23
2  58  80  32
3  34  81  86
4  37  85  73
Doubled DataFrame:
     A    B    C
0   92   30   66
1   14  116   46
2  116  160   64
3   68  162  172
4   74  170  146

C:\Users\saksh\AppData\Local\Temp\ipykernel_19692\3315638500.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [30]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  81  62  39
1  93  10  17
2  23  91  15
3   8  44  91
4  21  97  16
5  65  50  15
DataFrame with Sum column:
    A   B   C  Sum
0  81  62  39  182
1  93  10  17  120
2  23  91  15  129
3   8  44  91  143
4  21  97  16  134
5  65  50  15  130

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [31]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [32]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object