#### Deep Dive Into Operators

### Video Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [3]:
# Arithmetic Operators

a=10
b=5

add_res=a+b #addition
sub_res=a-b #substraction
mul_res=a*b #multiplication
div_res=a/b #division
floor_div_res=a//b #floor division
modulus_res=a%b #modulus operation
exponent_res=a**b #exponentiation

print(add_res)
print(sub_res)
print(mul_res)
print(div_res)
print(floor_div_res)
print(modulus_res)
print(exponent_res)

15
5
50
2.0
2
0
100000

In [4]:
21/5

4.2

In [5]:
21//5

4

#### Comparison Operators

In [6]:
# == equal to
a=10
b=10

a==b

True

In [7]:
str1="saksham"
str2="saksham"

str1==str2

True

In [8]:
# not equal
s1="Saksham"
s2="saksham"

s1!=s2

True

In [9]:
# greater than
num1=45
num2=55

num1>num2

False

In [10]:
# less than
num1<num2

True

In [11]:
# greater than or equal
n1=45
n2=45

n1>=n2

True

In [12]:
# less than or equal
number1=44
number2=45

number1<=number2

True

#### Logical Operators

In [13]:
# And
x=True
y=True

x and y

True

In [14]:
x=False
y=True

x and y

False

In [15]:
# OR
x=False
y=True

x or y

True

In [16]:
# NOT Operator
x=True
not x

False

In [18]:
# Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
substraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying Results
print("Addition: ",addition)
print("Substraction: ",substraction)
print("Multiplication: ", multiplication)
print("Division: ",division)
print("Floor Division: ",floor_division)
print("Modulus: ",modulus)
print("Exponentiation: ",exponentiation)

Addition:  12.0
Substraction:  8.0
Multiplication:  20.0
Division:  5.0
Floor Division:  5.0
Modulus:  0.0
Exponentiation:  100.0